# Dependencies
node_modules/
/backend/node_modules/
/frontend/node_modules/

# Local env files
.env
/backend/.env

# Build outputs
/frontend/dist/
/frontend/build/

# System files
.DS_Store
Thumps.db

# Logs
*.log
